---
layout: page
---

<div class="columns">
    <div class="column is-4">
        <div class="content">
            <figure class="image" style="max-width: 300px; margin-left: 0">
                <img src="{{ site.data.meta.index.personal_photo | relative_url }}">
            </figure>
        </div>
    </div>
    <div class="column is-8">
        <div class="content">
            <h1 class="title">{{ site.data.meta.index.welcome_message }}</h1>
            {{ site.data.meta.index.personal_description | markdownify }}
            <h3 class="title">Recent News</h3>
            {% for news in site.data.news limit:3 %}
            <div class="columns mb-0">
                    <div class="column is-2">
                        <span class="tag news-time {% if news.highlight != nil %}
                        {{ site.data.meta.index.news_highlight_color}}
                    {% endif %}">
                                {{ news.time }}
                        </span>
                    </div>
                    <div class="column is-10">
                        {{ news.title | markdownify }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>