<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{site.title}} {% if page.title != nil %}| {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description }}">

    <meta property="og:title" content="{{ page.title | escape }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="{{ site.name }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:title" content="{{ page.title | escape }}">
    <meta name="twitter:description" content="{{ page.description }}">

    <!-- TODO: Adding page thumbnail for social meida -->

    <!-- Canonical URL -->
    <link rel="canonical" href="{{site.url}}{{site.baseurl}}/{{ page.url | replace:'index.html','' }}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/bulma.css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/syntax/{{ site.code_theme }}.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          }
        },
        tex2jax: {
          inlineMath: [ ['$','$'] ],
          displayMath: [ ['$$','$$'] ],
          processEscapes: true,
        }
      });
    </script>
    
    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    
    <!-- Add link to h2 ... h6 -->
    <!-- Ref: https://ben.balter.com/2014/03/13/pages-anchor-links/ -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
      $(function() {
        return $("h2, h3, h4, h5, h6").each(function(i, el) {
          var $el, icon, id;
          $el = $(el);
          id = $el.attr('id');
          icon = '<i class="fas fa-link"></i>';
          if (id) {
            return $el.append($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
          }
        });
      });
    </script>
    
    <!-- Google Analytics -->
    {% include google-analytics.html %}

</head>